Pipeline/pipeline/Copy_same_type_files_to_type_folder.json
{
	"name": "Copy_same_type_files_to_type_folder",
	"properties": {
		"activities": [
			{
				"name": "Metadata_of_container",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Container_parameter",
						"type": "DatasetReference",
						"parameters": {
							"containername": "demoproject"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Metadata_of_container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Metadata_of_container').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Metadata_of_folders",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Container_and_folder_parameters",
									"type": "DatasetReference",
									"parameters": {
										"containername": "demoproject",
										"foldername": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Execute_switch_and_copy_pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Metadata_of_folders",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Switch_file_type_and_copy",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"itemsList": {
										"value": "@activity('Metadata_of_folders').output.childItems",
										"type": "Expression"
									},
									"foldername": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-09-21T18:24:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}